# Database Connection Settings
# These are the settings you need to change to connect to your PostgreSQL database.

# The IP address or hostname of your database server. 
# Use 'localhost' if the database is on the same machine.
DB_HOST=localhost

# The port number your database is listening on. Default for Postgres is 5432.
DB_PORT=5432

# The name of the database you want to connect to.
DB_NAME=otgtrack_db

# The username used to access the database.
DB_USER=postgres

# The password for the specified user.
DB_PASSWORD=postgres1

# Backend Server Settings
PORT=3001
